<!-- start: page body -->
<div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-3">
    <div class="container-fluid">

        <div class="row g-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row row-deck">

                            <div class="col-lg-8 col-md-12">
                                <div>
                                    <h4 class="mt-4 mt-lg-0"><strong>{{message.subject}}</strong></h4>
                                    <p class="my-4"><a
                                            class="small rounded py-1 px-2 m-1 fw-normal bg-secondary text-white">Nom
                                            : </a><a
                                            class="small rounded py-1 px-2 m-1 fw-normal bg-info text-white">{{message.nom}}</a>
                                    </p>
                                    <p class="my-4"><a
                                            class="small rounded py-1 px-2 m-1 fw-normal bg-secondary text-white">Email
                                            : </a><a
                                            class="small rounded py-1 px-2 m-1 fw-normal bg-info text-white">{{message.email}}</a>
                                    </p>
                                    <p class="my-4"><a
                                            class="small rounded py-1 px-2 m-1 fw-normal bg-secondary text-white">Phone
                                            : </a><a
                                            class="small rounded py-1 px-2 m-1 fw-normal bg-info text-white">{{message.phone}}</a>
                                    </p>
                                    <p class="my-4"><a
                                        class="small rounded py-1 px-2 m-1 fw-normal bg-secondary text-white">Message
                                        : </a><a
                                        class="small rounded py-1 px-2 m-1 fw-normal bg-info text-white">{{message.message}}</a>
                                </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .row end -->

</div>