<!-- start: page body -->
<div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-3">
    <div class="container-fluid">

        <div class="row g-1 mb-4">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <span>Orders Location</span>
                        <h4 class="mb-0">{{demande.length}}</h4>

                    </div>
                    <div id="apexspark1"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <span>Total Client</span>
                        <h4 class="mb-0">{{client.length}}</h4>

                    </div>
                    <div id="apexspark2"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <span>Total Reclamation</span>
                        <h4 class="mb-0">{{reclamation.length}}</h4>

                    </div>
                    <div id="apexspark3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <span>Revenue</span>
                        <h4 class="mb-0">${{gettotal()}}</h4>

                    </div>
                   
                </div>
            </div>
        </div> <!-- .row end -->

        

    </div>
</div>