<div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-3">
    <div class="container-fluid">

        <div class="row g-3">
            <div class="col-12">
                <form [formGroup]="formBlog" (ngSubmit)="AddBlog()">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title m-0">Add New Product</h6>
                            <div class="dropdown morphing scale-left">
                                <a href="#" class="card-fullscreen" data-bs-toggle="tooltip" title=""
                                    data-bs-original-title="Card Full-Screen" aria-label="Card Full-Screen"><i
                                        class="icon-size-fullscreen"></i></a>
                                <a href="#" class="more-icon dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                <ul class="dropdown-menu shadow border-0 p-2">
                                    <li><a class="dropdown-item" href="#">File Info</a></li>
                                    <li><a class="dropdown-item" href="#">Copy to</a></li>
                                    <li><a class="dropdown-item" href="#">Move to</a></li>
                                    <li><a class="dropdown-item" href="#">Rename</a></li>
                                    <li><a class="dropdown-item" href="#">Block</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row g-3">

                                <div class="col-sm-4">
                                    <label class="form-label">Blog Title</label>
                                    <input type="text" class="form-control form-control-lg" formControlName="title"
                                        placeholder="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
                                    <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                        <div *ngIf="f['title'].errors['required']"> title is required</div>
                                    </div>
                                </div>
                              

                              

                                <div class="col-lg-12">
                                    <label class="form-label">Upload Blog Images</label>
                                    <input type="file" formControlName="image" class="form-control form-control-lg"
                                        class="form-control" (change)="handelFileInput($event)">
                                </div>
                                <div class="col-sm-12">
                                    <label class="form-label">Product Description</label>
                                    <textarea rows="4" formControlName="description"
                                        class="form-control form-control-lg" placeholder="Please type what you want..."
                                        placeholder="prix" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
                                    </textarea>
                                    <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                        <div *ngIf="f['description'].errors['required']"> description is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit"  class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- .row end -->

    </div>
</div>