<div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-3">
    <div class="container-fluid">

        <div class="row g-3">
            <div class="col-12">
                <div class="card" [formGroup]="formMember" (ngSubmit)="addmember()">
                    <div class="card-header">
                        <h6 class="card-title m-0">Add New Memver</h6>
                        <div class="dropdown morphing scale-left">
                            <a href="#" class="card-fullscreen" data-bs-toggle="tooltip" title=""
                                data-bs-original-title="Card Full-Screen" aria-label="Card Full-Screen"><i
                                    class="icon-size-fullscreen"></i></a>
                            <a href="#" class="more-icon dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                            <ul class="dropdown-menu shadow border-0 p-2">
                                <li><a class="dropdown-item" href="#">File Info</a></li>
                                <li><a class="dropdown-item" href="#">Copy to</a></li>
                                <li><a class="dropdown-item" href="#">Move to</a></li>
                                <li><a class="dropdown-item" href="#">Rename</a></li>
                                <li><a class="dropdown-item" href="#">Block</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-sm-4">
                                <label class="form-label">Member Name</label>
                                <input type="text" class="form-control form-control-lg" formControlName="name"
                                    placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors['required']">name is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Post</label>
                                <input type="text" class="form-control form-control-lg" formControlName="description"
                                    placeholder="post *"
                                    [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
                                <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                    <div *ngIf="f['description'].errors['required']">Post is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Facebook</label>
                                <input type="text" class="form-control form-control-lg" formControlName="fb"
                                    placeholder="facebook *" [ngClass]="{ 'is-invalid': submitted && f['fb'].errors }">
                                <div *ngIf="submitted && f['fb'].errors" class="invalid-feedback">
                                    <div *ngIf="f['fb'].errors['required']">Facebook is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Twitter</label>
                                <input type="text" class="form-control form-control-lg" formControlName="twitter"
                                    placeholder="twitter *"
                                    [ngClass]="{ 'is-invalid': submitted && f['twitter'].errors }">
                                <div *ngIf="submitted && f['twitter'].errors" class="invalid-feedback">
                                    <div *ngIf="f['twitter'].errors['required']">twitter is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Linkedin</label>
                                <input type="text" class="form-control form-control-lg" formControlName="linkedin"
                                    placeholder="linkedin *"
                                    [ngClass]="{ 'is-invalid': submitted && f['linkedin'].errors }">
                                <div *ngIf="submitted && f['linkedin'].errors" class="invalid-feedback">
                                    <div *ngIf="f['linkedin'].errors['required']">linkedin is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Instagram</label>
                                <input type="text" class="form-control form-control-lg" formControlName="instagramme"
                                    placeholder="Instagram *"
                                    [ngClass]="{ 'is-invalid': submitted && f['instagramme'].errors }">
                                <div *ngIf="submitted && f['instagramme'].errors" class="invalid-feedback">
                                    <div *ngIf="f['instagramme'].errors['required']">instagramme is required
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label class="form-label">Upload Member Images</label>
                                <input type="file" formControlName="img" class="form-control form-control-lg"
                                    class="form-control" (change)="handelFileInput($event)">
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" (click)="addmember()">Add</button>
                        <button type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        </div> <!-- .row end -->

    </div>
</div>