<!-- start: page body -->
<div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-3">
    <div class="container-fluid">

        <div class="row g-4">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="myTable" class="table card-table display dataTable table-hover align-middle">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>image</th>
                                <th>name</th>
                                <th>stat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of client | paginate: { itemsPerPage: 8, currentPage: p}">
                                
                                <td><h6 class="mb-0">{{c.id}}</h6></td>
                                <td><h6 class="mb-0">{{c.image}}</h6></td>
                                <td><span class="text-muted">{{c.firstName}} {{c.lastName}}</span></td>
                                <td><span class="small rounded py-1 px-2 m-1 fw-normal bg-secondary text-white" *ngIf="c.stat=='Accepted'">{{c.stat}}</span>
                                <span class="small rounded py-1 px-2 m-1 fw-normal bg-danger text-white" *ngIf="c.stat=='en attente'">{{c.stat}}</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-success" *ngIf="c.enabled==false" (click)="acceptClient(c.id)">accept client<i class="fa fa-pencil"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger "(click)="deleteClient(c.id)">delete client<i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- .row end -->

    </div>
</div>


