
<!-- start: page body -->
<div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-3">
    <div class="container-fluid">

        <div class="row g-4">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="myTable" class="table card-table display dataTable table-hover align-middle">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Member Name</th>
                                <th>Post</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of member | paginate: { itemsPerPage: 8, currentPage: p}">
                                <td><img class="rounded-circle" src="http://localhost:8080/users/files/{{m.img}}" class="rounded-circle" width="40" alt="Product img"></td>
                                <td><h6 class="mb-0">{{m.name}}</h6></td>
                                <td><span class="text-muted">{{m.description}}</span></td>
                                
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-success" routerLink="/home/detailmember/{{m.id}}">Detail &nbsp;<i class="fa fa-pencil"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger "(click)="deleteMember(m.id)">Delete &nbsp; <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- .row end -->

    </div>
</div>
